*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
factbank.sdp
factbank.sent
factbank.sent.out
parse.pickle
test_predicate.features
train_predicate.features
classifier_output
test.classifier_input
train.classifier_input
loglinear_model*
*.features
*.classifier_input.pgcqmn
train.classifier_input*
test.classifier_input*
features_of_all642_and_130_sentences.zip
